/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  min-width: 1300px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*Background for each box */
#love { background-image: url("../images/boxes/love.jpg"); background-color: #cc0000; }
#management { background-image: url("../images/boxes/war.jpg"); background-color: #800000; }
#games { background-image: url("../images/boxes/games.jpg"); background-color: #006600; }
#movies { background-image: url("../images/boxes/movies.jpg"); background-color: #336600; }
#love { background-image: url("../images/boxes/love.jpg"); background-color: #cc0000; }
#war { background-image: url("../images/boxes/war.jpg"); background-color: #800000; }
#games { background-image: url("../images/boxes/games.jpg"); background-color: #006600; }
#movies { background-image: url("../images/boxes/movies.jpg"); background-color: #336600; }


body{
    background-color: grey;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
    justify-content: center;
}

.box {
    background-size: cover;
    width: calc(25% - 10px);
    height:300px;
    margin: 10px;
    text-align: center;
    color: white;
    justify-content: center;

}

.box:hover {
    opacity: .5;
    cursor: pointer;
}

/*
  ========================================
  Content
  ========================================
*/

.content{

}


/*
  ========================================
  Navigation
  ========================================
*/

.nav{
  background: #0286D1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 999; /* Ensures bar will be in front of all other elements*/
}

.nav ul{
  font: 100 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
  padding:10px;
  text-transform: uppercase;
}

.nav li{
  display: inline-block;
}

.nav a{
  color:#fff;
  padding: 10px 20px;
  text-decoration: none;
}

.nav a:hover{
  font-weight: 400;
  border-bottom: 3px solid white;
}


/*
  ========================================
  Topic
  ========================================
*/


.topic {
    padding-top: 50px;
}


/*
  ========================================
  Sections
  ========================================
*/

section {
    
}

.quoteArea {
    height: 300px;
    width: 700px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 5px 10px black;
    position: relative;
}

section h1 {
    margin: 50px auto;
    font-size: 30px;
    text-shadow: 0 2px 7px black;
}

.quoteArea h2 {
    font-size: 25px;
    margin-top:20px;
    text-align: center;
}

.quoteArea h4 {
    position: absolute;
    font-size: 20px;
    flex: 1;
    align-self: flex-end;
    bottom: 30px;
    right: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.buttons >:first-child {
    background-color: #09ab11;
}

.buttons >:nth-child(2) {
    background-color: #4099ff;
}

.buttons button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    color: white;
}
.buttons button:hover {
    cursor:pointer;
}

button {
    transition: all ease 0.1s;
}

button:hover {
    box-shadow: 0 2px 20px rgba(0,0,0,0.4);
}

.buttons button:focus {
    outline:none;
}

.buttons button:active {
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    transform: scale(0.99);
}

.buttons >:first-child:active {
    background-color: #08910f;  
}

.buttons >:nth-child(2):active {
    background-color: #0077ff;
}

/*
  ========================================
  Random Quote Section
  ========================================
*/

#random {
    height: 100vh;
    padding-top: 50px;
    background-color: #0a7e4e;
    flex-direction: column;
    align-items: center;
}

#random .quoteArea {
    background-color: #53dda4;
}



/*
  ========================================
  Modal box
  ========================================
*/

.modal{
  display: none; /* starts hidden */
  position: fixed; /* won't move */
  z-index: 1; /* sits on top of content except nav bar */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enables scrolling if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black with opacity */
}


.modal-content{
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 40%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}