/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;

}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*Background for each box */
#love { background-image: url("../images/boxes/love.jpg"); background-color: #cc0000; }
#management { background-image: url("../images/boxes/management.jpg"); background-color: #800000; }
#sports { background-image: url("../images/boxes/sports.jpg"); background-color: #006600; }
#life { background-image: url("../images/boxes/life.jpg"); background-color: #336600; }
#funny { background-image: url("../images/boxes/funny.jpg"); background-color: #cc0000; }
#art { background-image: url("../images/boxes/art.jpg"); background-color: #800000; }
#inspire { background-image: url("../images/boxes/inspire.jpg"); background-color: #006600; }
#students { background-image: url("../images/boxes/students.jpg"); background-color: #336600; }


body{
    background-color: grey;
    color: white;
}

h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
    margin: 10px auto;
    background-size: cover;
    height:300px;
    color: black;
    justify-content: center;
    border-radius: 3%;
}

.box:hover {
    opacity: .5;
    cursor: pointer;
}


/*
  ========================================
  Navigation
  ========================================
*/

.nav{
  background: #0286D1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 999; /* Ensures bar will be in front of all other elements*/
}

.nav ul{
  font: 100 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
  padding:10px;
  text-transform: uppercase;
}

.nav li{
  display: inline-block;
}

.nav a{
  color:#fff;
  padding: 10px 20px;
  text-decoration: none;
}

.nav a:hover{
  font-weight: 400;
  border-bottom: 3px solid white;
}


/*
  ========================================
  Topic
  ========================================
*/


.topic {
    padding-top: 50px;
}


/*
  ========================================
  Sections
  ========================================
*/


.randomQuoteArea {
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    position: relative;
}

section h1 {
    margin: 50px auto;
    font-size: 30px;
    text-shadow: 0 2px 7px black;
}

.randomQuoteArea h2 {
    font-size: 25px;
    margin-top:20px;
}

.randomQuoteArea h4 {
    position: absolute;
    font-size: 20px;
    bottom: 30px;
    right: 20px;
}

#random {
    height: 100vh;
    padding-top: 50px;
    background-color: #0a7e4e;
    padding-bottom: 10%;
}

#random .randomQuoteArea {
    background-color: #53dda4;
}

#topic {
    background-color: #0b9496;
}



.buttons button {
    font-size: 20px;
    margin: 30px auto 20px;
    border: none;
}



/*
  ========================================
  Modal box
  ========================================
*/

.modal{
  overflow: auto; /* enables scrolling if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black with opacity */
}


.author{
  text-align: right;
}

.modal-dialog {
    width: auto;
    max-width: 1800px;
    
}

.modal-content{
  background-color: #3377ff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 40%;
  min-height: 100px;
  box-shadow: 0 5px 10px black;
  font-size: 20px;
}

.modal-content h3{
  text-align: center;
  font-size: 30px;
  padding-bottom:10px;
  color: white;
  padding-bottom: 20px;
}

.modal-content .randomQuote{
  position: absolute;
  left:0;
  bottom: 0;
  margin-left: 7px;
  margin-bottom: 7px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #4099ff
}

.randomQuote:hover{
  cursor: pointer;
  box-shadow: 0 2px 20px rgba(0,0,0,0.4);
}

.modal-content .randomQuote:active{
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  background-color: #0077ff;
  transform: scale(0.99);
}

.buttons button:focus {
    outline:none;
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

/*
  ========================================
  Footer
  ========================================
*/


.footer{
  width: 100%;
  min-height: 100px;
  height: 100%;
  color: white;
  font-size: 20px;
  background-color: #0a7e4e;
  position: relative;
  text-align: center;
  line-height: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.footer p{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

